@import '../../styles/variables';
@import '../../styles/mixins';

.icon {
    cursor: pointer;
    margin: 0.1rem 0.5rem;
    height: 30px;
    width: 30px;

    &--true {
        color: $colorTheme4;
    }
    &--false {
        color: $colorTheme3;
        @include mediaSize(medium){
            color: $colorTheme1;
        }      
    }
}
