// COLORS -----------------------------------------------------------------------

// Basic colors:
$colorTransparent: transparent;
$colorWhite: #FFFFFF;
$colorMiddle: #292929;
$colorBlack: #000000;
$colorAlert: #e96f70;

// theme colors
$colorTheme1: $colorWhite;
$colorTheme2: #f6f6f6;
$colorTheme3: #b6b6b4;
$colorTheme4: #83f3c6;
$colorTheme5: #555555;


// Backgrounds:
$backgroundHeader: $colorTheme1;
$bacKgroundSection: $colorTheme2;
$backgroundFooter: $colorTheme1;

// FONTS -----------------------------------------------------------------------------

$remSize: 16px;
$lineHeight: 1.2;
$fontText: Arial, Helvetica, sans-serif;
$fontBigTitle: 'Open Sans', sans-serif;
$fontSpecial: 'DM Serif Text', serif;

// MEASUREMENTS -----------------------------------------------------------------------

// Section heights:
$heightHeader: 160px;
$heightFooter: 40px;
$heightSection: calc(100vh - #{$heightHeader} - #{$heightFooter});

// Content width:
$widthGeneralContentMobile: 340px; // 1 image column + 40px on the sides
$widthGeneralContentMedium: 610px; // 2 image column + 10px gap
$widthGeneralContentLarge: 920px; // 3 image column + 2 10px gap
$widthGeneralContentExtraLarge: 1230px; // 2 image column + 3 10px gap