@import '../../styles/variables';

.dialog{
    position: absolute;
    z-index: 100;
    height: 60px;
    width: 100vw;
    left:0;
    background-color: $colorTheme3;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display:grid;
    place-items: center;
    &--on {
        top: 0;
        transition: top 0.7s;
    }    
    &--off {
        top: -100px;
        transition: top 0.7s;
    } 
    &__text {
        font-size: 0.9rem;
        color: $colorMiddle;
    }  
}